#------------------------------
# Config
#------------------------------

# Le serveur doit suivre les liens symboliques
Options +FollowSymlinks 
#+SymLinksIfOwnerMatch 

# BLOCK UNNECESSARY REQUEST METHODS
RewriteCond %{REQUEST_METHOD} ^(CONNECT|DEBUG|DELETE|MOVE|PUT|TRACE|TRACK) [NC]
RewriteRule .* - [F,L]

# ALLOW ONLY NECESSARY REQUEST METHODS
RewriteCond %{REQUEST_METHOD} !^(GET|HEAD|OPTIONS|POST|PROPFIND|PUT) [NC]
RewriteRule .* - [F,L]

# Activation du module de réécriture d'url
RewriteEngine on

#------------------------------
# Règles de réécriture d'url
#------------------------------

RewriteRule ^accueil$ index.php [L]
RewriteRule ^wr_article$ newarticle.php [L]
RewriteRule ^article/([0-9]+)$ article.php?id=$1 [L,QSA]
RewriteRule ^user/([0-9]+)$ user.php?id=$1 [L,QSA]
RewriteRule ^tag/([0-9]+)$ tag.php?id=$1 [L,QSA]

#------------------------------
# Règles de redirection d'url
#------------------------------

#OW Redirection des liens HTTP vers HTTPS (config ssl requise)
#RewriteCond %{HTTPS} !=on
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301]

#OW Redirection des pages et liens inexistants (404) vers l'accueil

#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /accueil [L]


#RewriteRule ^$ /accueil [L]

